body{
    margin: 0;
    background-image: url(background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 5%;
    left: 5%;
    margin: 20px;
    backdrop-filter: blur(2px);
    background-color: hsla(0, 0%, 100%, 0.1);
}